/* Custom keyframes for slide down and fade animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Apply the animation using Tailwind's custom class */
.animate-slideDown {
  animation: slideDown 1s ease forwards;
}

.animate-slideUp {
  animation: slideUp 1s ease forwards;
}

.animate-slideDownFade {
  animation: slideDown 1s ease forwards,
    fadeIn 1s ease forwards;
}

/* Custom keyframes for fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* mobile view */

/* Keyframes for height-based slide down */
@keyframes heightSlideDown {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--menu-height);
      opacity: 1;
    }
  }
  
  /* Keyframes for height-based slide up */
  @keyframes heightSlideUp {
    from {
      height: var(--menu-height);
      opacity: 1;
    }
    to {
      height: 0;
      opacity: 0;
    }
  }
  
  /* Apply the animation using Tailwind's custom class */
  .animate-heightSlideDown {
    animation: heightSlideDown 0.5s ease-in-out forwards;
    overflow: hidden;
  }
  
  .animate-heightSlideUp {
    animation: heightSlideUp 0.5s ease-in-out forwards;
    overflow: hidden;
  }


  /* hamburger menu animation css */
  
  @keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 10px;
      transform: rotate(0);
    }
    100% {
      top: 10px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes top-2 {
    0% {
      top: 10px;
      transform: rotate(45deg);
    }
    50% {
      top: 10px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 10px;
      transform: rotate(0);
    }
    100% {
      bottom: 10px;
      transform: rotate(135deg);
    }
  }
  
  @keyframes bottom-2 {
    0% {
      bottom: 10px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 10px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .active span:nth-child(1) {
    animation: top 0.7s ease forwards;
  }
  
  .not-active span:nth-child(1) {
    animation: top-2 0.7s ease forwards;
  }
  
  .active span:nth-child(2) {
    animation: scaled 0.7s ease forwards;
  }
  
  .not-active span:nth-child(2) {
    animation: scaled-2 0.7s ease forwards;
  }
  
  .active span:nth-child(3) {
    animation: bottom 0.7s ease forwards;
  }
  
  .not-active span:nth-child(3) {
    animation: bottom-2 0.7s ease forwards;
  }
  