/* Custom keyframes for slide down and fade animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Apply the animation using Tailwind's custom class */
.animate-slideDown {
  animation: slideDown 1s ease forwards;
}

.animate-slideUp {
  animation: slideUp 1s ease forwards;
}

.animate-slideDownFade {
  animation: slideDown 1s ease forwards,
    fadeIn 1s ease forwards;
}

/* Custom keyframes for fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* mobile view */

/* Keyframes for height-based slide down */
@keyframes heightSlideDown {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--menu-height);
      opacity: 1;
    }
  }
  
  /* Keyframes for height-based slide up */
  @keyframes heightSlideUp {
    from {
      height: var(--menu-height);
      opacity: 1;
    }
    to {
      height: 0;
      opacity: 0;
    }
  }
  
  /* Apply the animation using Tailwind's custom class */
  .animate-heightSlideDown {
    animation: heightSlideDown 0.5s ease-in-out forwards;
    overflow: hidden;
  }
  
  .animate-heightSlideUp {
    animation: heightSlideUp 0.5s ease-in-out forwards;
    overflow: hidden;
  }
  
